@import url(typography.css);

aside {
  width: 160px;
  resize: horizontal;
}

@media screen and (min-width: 800px) {
  aside {
    width: unset;
  }
}

aside h1,
aside h2,
aside h3 {
  padding: 8px;
  margin: 0;
  position: relative;
}

aside h2 {
  border-top: 2px solid #854f22;
  background-color: #EEE8DC;
  text-transform: uppercase;
  font-size: 1.2em;
}

aside h3 {
  /* border-top: 2px solid #854f22; */
  color: brown;
  font-size: 1.2em;
}

aside img {
  width: 32px;
  position: absolute;
  top: 2px;
  right: 2px;
  filter: opacity(0.85);
}

aside nav {
  padding-bottom: 20px;
}

aside nav a,
aside a i {
  display: block;
}

aside i {
  color: #854f22;
}