body {
  padding: 20px;
  font-size: 1.25em;
}

h1, h2, h3 {
  color: #66381d; /* #492F20 */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

h1 i, h2 i, h3 i {
  color: #9E5C28;
  font-size: smaller;
  margin-left: 2px;
  vertical-align: top;
}

img {
  display: block;
  max-width: 100%;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

/* GALLERY */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery img {
  height: 300px;
}

/* TOOLTIP */

.tooltip-container {
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: 0;
  background-color: #333;
  color: #fff;
  padding: 4px 8px;
  opacity: 0;
  transition: opacity .5s ease;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
}

/* VIDEOS */

video,
iframe,
.youtube-player {
  display: inline-block;
  max-width: 100%;
}

iframe {
  border: 0;
  width: 560px;
  height: 315px;
}

.youtube-player {
  position: relative;
}

.youtube-player .thumbnail {
  cursor: pointer;
  width: 560px;
  object-fit: cover;
}

.youtube-player .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}