@import url(typography.css);

body {
  padding: 20px;
  font-size: 1.25em;
}

img {
  display: block;
  max-width: 100%;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

/* GALLERY */

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery img {
  height: 300px;
}

/* TOOLTIP */

.tooltip-container {
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #333;
  color: #fff;
  padding: 4px 8px;
  opacity: 0;
  transition: opacity .5s ease;
}

.tooltip-container img:hover + .tooltip,
.tooltip-container video:hover + .tooltip,
.tooltip-container div:hover + .tooltip {
  opacity: 1;
}

/* VIDEOS */

video,
iframe,
.youtube-player {
  display: inline-block;
  max-width: 100%;
}

iframe {
  border: 0;
  width: 560px;
  height: 315px;
}

.youtube-player {
  position: relative;
}

.youtube-player .thumbnail {
  cursor: pointer;
  width: 560px;
  object-fit: cover;
}

.youtube-player .play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}