body {
  color: #382B26;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
  "aside header"
  "aside main";
  margin: 0;
  padding: 0;
  overflow: hidden;
}

header {
  grid-area: header;
  padding: 10px;
  background-color: #f1f1f1;
  position: sticky;
  transition: margin-top 0.3s ease-out;
}

header h1, h2, h3 {
  margin: 0;
}

iframe {
  grid-area: main;
  width: 100%;
  height: 100%;
  /* border: 0; */
}

aside {
  background-color: #f1f1f1;
  grid-area: aside;
  height: 100vh;
  max-width: 400px;
  min-width: 160px;
  overflow-y: scroll;
  resize: horizontal;
  width: 290px;
}

h2 {
  color: #492F20;
  border-top: 2px solid #854f22;
  background-color: #E6DED1;
  text-transform: uppercase;
  font-size: 1.2em;
}

h3 i {
  color: #854f22;
}

aside h1,
aside h2,
aside h3 {
  padding: 8px;
  margin: 0;
  position: relative;
}

aside h3 {
  border-top: 2px solid #854f22;
  color: #E72A2E;
}

aside img {
  width: 32px;
  position: absolute;
  top: 2px;
  right: 2px;
  filter: opacity(0.85);
}

nav {
  padding-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  display: block;
  padding: 8px 24px;
}

nav a:hover,
.active {
  background-color: #EEE8DC;
}

nav a i {
  display: block;
  color: #854f22;
}
