body {
  padding: 20px;
  font-size: 1.2em;
}

h1, h2, h3 {
  color: #492F20;
}

h1 i, h2 i, h3 i {
  color: #9E5C28;
  font-size: smaller;
  margin-left: 2px;
  vertical-align: top;
}

img {
  display: block;
  max-width: 100%;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.gallery img {
  height: 300px;
}

.inline {
  display: inline;
}

.tooltip-container {
  position: relative;
}

.tooltip {
  position: absolute;
  bottom: 0;
  background-color: #333;
  color: #fff;
  padding: 4px 8px;
  display: none;
}

.tooltip-container:hover .tooltip {
  display: block;
}

/* YOUTUBE IFRAME, VIDEO */

iframe {
  border: 0;
  width: 560px;
  height: 315px;
}

video,
iframe,
.youtube-player {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 10px;
  max-width: 100%;
}

.youtube-player {
  position: relative;
}

.youtube-player img {
  cursor: pointer;
  width: 560px;
}

.youtube-player .play {
  height: 48px;
  width: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url('../images/icons/youtube.png') no-repeat;
}