body {
  display: flex;
  margin: 0;
  padding: 0;
  color: #382B26;
}

h2 {
  color: #492F20;
  border-top: 2px solid #854f22;
  background-color: #E6DED1;
  text-transform: uppercase;
  font-size: 1.2em;
}

h3 {
  border-top: 2px solid #854f22;
  color: #E72A2E;
}

h3 i {
  color: #854f22;
}

aside {
  background-color: #f1f1f1;
  max-height: 100vh;
  max-width: 400px;
  min-width: 160px;
  overflow-y: scroll;
  resize: horizontal;
  width: 280px;
}

aside h1,
aside h2,
aside h3 {
  padding: 8px;
  margin: 0;
  position: relative;
}

aside img {
  width: 32px;
  position: absolute;
  top: 2px;
  right: 2px;
  filter: opacity(0.85);
}

nav {
  padding-bottom: 20px;
}

nav a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  display: block;
  padding: 8px 24px;
}

nav a:hover,
.active {
  background-color: #EEE8DC;
}

nav a i {
  display: block;
  color: #854f22;
}

iframe {
  flex: 1;
}